<html>
   <body>
	<h1>REIT API Documentation</h1>
	<p>Here you will find information on consuming the REIT api.</p>
		<br /> <br />
		<h2>ADDING REITS</h2>
		<b>POST /item<b> - Add a new REIT to our database!
		<p>
			<a href = "/enternew">Add New Record</a>
		</p>
		<br /> <br />
		<h2>GETTING REITS</h2>
		<b>GET /item</b> - Get all the REIT's from our database!<br />
		<b>GET /item/&lt;id&gt;</b> - Get a specific ticker from our database!
		<p>
			<a href = "/item">Show List</a>
		</p>
		<br /> <br />
		<h2>DELETING REITS</h2>
		<b>DELETE /item/&lt;id&gt;</b> - remove a specific ticker from our database
		<p><a href = "/delete">Delete</a></p>
	</p>	
	
	
      
   </body>
</html>