<html>
   <body>
	<h1>REIT API Documentation</h1>
	<p>Here you will find information on consuming the REIT api.</p>
		<br /> <br />
		<h2>GETTING REITS</h2>
		<b>GET /item</b> - Get all the REIT's from our database!<br />
		<b>GET /item/&lt;id&gt;</b> - Get a specific ticker from our database!
		<p>
			<a href = "/allReits">Show List</a>
		</p>
		
		<h2>view REITS woth a look at</h2>
		<b>GET /item/&lt;id&gt;</b> - Get a specific ticker from our database!
		<p>
			<a href = "/goodReits">Show List</a>
		</p>
		

      
   </body>
</html>